.venv/
venv/
ENV/
env/
/MINECRAFTDATA
/__pycache__
/MUNDOS_MCWORLD
/temp_conversao

minecraft_sync_log.txt
parallel_converter_log.txt
converter_log.txt
java_converter_log.txt
mcworld_converter_log.txt
.env